@import './custom.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: #e5e7eb; /* Tailwind Gray 200 */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #555555; /* Tailwind Blue 500 */
    border: 1px solid
  }

.ct-input {
    @apply border w-full px-2 p-1.5 rounded-lg hover:border-gray-700 hover:cursor-pointer text-sm font-medium text-gray-900 dark:text-white
}

.ct-label {
    @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white
}

.ct-select-1 {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 
    focus:border-blue-500 block w-full p-1.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 
    dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
}

.ct-nav-link-1 {
    @apply border-blue-300 border-2 no-underline text-gray-700 hover:text-blue-500 p-6 text-center rounded-lg  text-lg
}

.truncate-text {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Hiển thị 3 dòng */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.transition-col-span {
  transition: all 0.3s ease; /* Thay đổi thời gian và kiểu chuyển tiếp nếu cần */
}